@import '../template';

.main {
	flex: 1 1 auto;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	&__mobile-version {
		display: none;
	}
	&__steps {
		margin: 107px 135px 0 67px;
	}

	&__content {
		margin-top: 52px;
		> h2 {
			font-family: $font-bold;
			opacity: 60%;
			font-size: $font-size-header;
			margin: 0;
		}
		> h1 {
			font-family: $font-bold;
			font-size: $font-size-header;
			margin: 30px 0 20px 0;
			width: 490px;
			line-height: 48px;
		}
	}

	&__offer {
		display: flex;
		flex-direction: column;
		width: 380px;
		margin-top: 40px;
		> button {
			color: white;
			font-family: $font-bold;
			font-size: $font-size-small;
			border: none;
			padding: 19px 0;
			width: 380px;
			background: #000000;
			border-radius: 5px;
		}
		> p {
			font-family: $font-bold;
			font-size: $font-size-small;
			opacity: 60%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__instruction {
		margin-left: 15px;
	}

	&__replace-ol {
		display: flex;
		align-items: center;
		padding: 0;
		font-family: $font-regular;
		font-size: $font-size-small;
		margin-bottom: 20px;

		> img {
			margin-right: 13px;
		}
		> p {
			display: inline-block;
			margin: 0;
			font-family: $font-regular;
			font-size: $font-size-small;
			opacity: 60%;
			width: 418px;
		}
	}

	&__image {
		width: 477px;
		height: 501px;
		opacity: 30%;
		margin: 100px 53px 0 20px;
	}
}

@media screen and (max-width: 980px) {
	.main {
		flex: 1 1 auto;

		&__container {
			display: flex;
			flex-direction: row;
			margin-bottom: 35px;
		}

		&__steps {
			margin: 40px 40px 0 59px;
			width: 30.37px;
			height: 310px;
		}

		&__content {
			margin-top: 23px;
			> h2 {
				font-size: 1.875rem;
				margin: 0;
			}
			> h1 {
				font-size: 1.875rem;
				margin: 10px 0 10px 0;
				width: 310px;
				line-height: 30px;
			}
		}

		&__offer {
			width: 280px;
			margin-top: 15px;
			> button {
				font-size: 0.875rem;
				padding: 12px 0;
				width: 280px;
			}
			> p {
				font-size: 0.875rem;
			}
		}

		&__instruction {
			margin-left: 8px;
		}

		&__replace-ol {
			padding: 0;
			margin-bottom: 10px;

			> img {
				margin-right: 7px;
				width: 20px;
				height: 20px;
			}
			> p {
				font-size: 0.875rem;
				width: 334px;
			}
		}

		&__image {
			width: 243px;
			height: 255px;
			margin: 65px 40px 0 22px;
		}
	}
}

@media screen and (max-width: 725px) {
	.main {
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__mobile-version {
			display: block;
			margin-top: 24px;
		}

		&__steps {
			display: none;
		}

		&__content {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
		}
		&__offer {
			width: 380px;
			> button {
				font-size: 1rem;
				width: 380px;
			}
			> p {
				font-size: 1rem;
			}
		}

		&__image {
			display: none;
		}
	}
}

@media screen and (max-width: 445px) {
	.main {
		&__mobile-version {
			display: block;
			margin-top: 24px;
		}

		&__steps {
			display: none;
		}

		&__container {
			margin-bottom: 15px;
		}
		&__content {
			width: 280px;
			margin: 30px 21px 0 20px;
			> h2 {
				font-size: 1.25rem;
			}
			> h1 {
				font-size: 1.25rem;
				margin: 15px 0 15px 0;
				max-width: 249px;
				width: 249px;
				line-height: 1.25rem;
			}
		}

		&__offer {
			width: 280px;
			margin-top: 15px;
			> button {
				font-size: 0.875rem;
				padding: 12px 0;
				width: 280px;
			}
			> p {
				font-size: 0.75rem;
			}
		}

		&__instruction {
			margin-left: 16px;
		}

		&__replace-ol {
			> img {
				margin-right: 14px;
			}
			> p {
				font-size: 0.75rem;
				width: 231px;
			}
		}
		&__image {
			display: none;
		}
	}
}
